name: CI

on:
  pull_request:
  push:
    branches: [master]

jobs:
  Check_Formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: stable
        components: rustfmt
    - name: Check Formatting
      run: cargo +stable fmt --all -- --check

  Tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: dorny/paths-filter@v2.10.2
      id: filter
      with:
        filters: |
          cross-platform: &cross-platform
            - 'src/platform/mod.rs'
            - 'src/platform_impl/mod.rs'
            - 'src/*.rs'
            - 'build.rs'
            - 'examples/*.rs'
            - 'tests/*.rs'
            - '*.toml'
            - '.github/workflows/ci.yml'
          run_return: &run_return
            - 'src/platform/run_return.rs'
          windows:
            - *cross-platform
            - *run_return
            - 'src/platform/windows.rs'
            - 'src/platform_impl/windows/**'
            - 'src/platform/run_return.rs'
          linux:
            - *cross-platform
            - *run_return
            - 'src/platform/unix.rs'
            - 'src/platform_impl/linux/**'
            - 'src/platform/run_return.rs'
          macos:
            - *cross-platform
            - *run_return
            - 'src/platform/macos.rs'
            - 'src/platform_impl/macos/**'
            - 'src/platform/run_return.rs'
          android:
            - *cross-platform
            - *run_return
            - 'src/platform/android.rs'
            - 'src/platform_impl/android/**'
            - 'src/platform/run_return.rs'
          ios:
            - *cross-platform
            - 'src/platform/ios.rs'
            - 'src/platform_impl/ios/**'
          wasm:
            - *cross-platform
            - 'src/platform/web.rs'
            - 'src/platform_impl/web/**'

    - name: Run tests
      uses: ./ci_per_platform.yml
      with:
        windows: ${{ job.filter.outputs.windows }}
        linux:   ${{ job.filter.outputs.linux   }}
        macos:   ${{ job.filter.outputs.macos   }}
        android: ${{ job.filter.outputs.android }}
        ios:     ${{ job.filter.outputs.ios     }}
        wasm:    ${{ job.filter.outputs.wasm    }}

